// Default
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--body-color);
  transition: color 0.6s, background-color 0.6s;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;

  ::selection {
    background-color: var(--selection-color);
  }
}

a:not(.button) {
  color: var(--link-color);
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  margin-bottom: 1.25em;

  tr {
    border-top: 1px solid #c6cbd1;
  }

  td,
  th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  th {
    font-weight: 600;
    background-color: var(--bg-code);
  }
}

sup {
  position: relative;
  top: -0.3em;
  vertical-align: top;
  color: var(--link-color);
  margin: 0 0.2em;

  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }
}
