// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

$navbar-background-color: #fff !default;
$global-link-hover-color: #0f4c81 !default;
$post-link-color: #0f4c81 !default;
$post-link-hover-color: #2d96bd !default;
