// @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url("https://fonts.googleapis.com/css?family=Miriam+Libre:400,700|Rubik&display=swap");

// @font-face {
//   font-family: 'Product Sans';
//   src: url('lib/webfonts/ProductSans-Regular.woff2') format('woff2'),
//        url('lib/webfonts/ProductSans-Regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

html {
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, 'PingFang SC', 'Noto Sans CJK SC', 'Sarasa Gothic SC', 'Microsoft YaHei', sans-serif, Apple Color Emoji, Segoe UI Emoji;

  // /* scrollbar, only support webkit */
  // &::-webkit-scrollbar {
  //   width: 8px;
  //   height: 8px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   height: 40px;
  //   background-color: #87878D;
  //   border-radius: 16px;

  //   &:hover {
  //     background-color: #A9A9B3;
  //   }
  // }
}

::selection {
  background: rgba(0, 149, 255, 0.1);
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  background-color: $global-background-color;
  color: $global-font-color;

  &:before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.05;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }

  &.dark-theme {
    color: $global-font-color-dark;
    background-color: $global-background-color-dark;
  }
}

a {
  color: $global-link-color;
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

  &:hover {
    color: $global-link-hover-color;
  }

  .dark-theme & {
    color: $global-link-color-dark;

    &:hover {
      color: $global-link-hover-color-dark;
    }
  }
}
